asttokens==2.4.1
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
decorator==5.1.1
exceptiongroup==1.2.0
executing==2.0.1
fonttools==4.49.0
importlib-resources==6.1.2
ipython==8.18.1
jedi==0.19.1
kiwisolver==1.4.5
matplotlib==3.8.3
matplotlib-inline==0.1.6
numpy==1.26.4
packaging==23.2
pandas==2.2.1
parso==0.8.3
pillow==10.2.0
prompt-toolkit==3.0.43
pure-eval==0.2.2
pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2024.1
scipy==1.12.0
six==1.16.0
stack-data==0.6.3
Theano==1.0.5
traitlets==5.14.1
typing-extensions==4.10.0
tzdata==2024.1
wcwidth==0.2.13
zipp==3.17.0
